.card-search {
    .serch-header {
        margin-bottom: 15px;

        h4 {
            font-weight: 700;

            i {
                font-size: 1.2em;
            }
        }
    }
}
.nowrap{
    white-space: nowrap;
}
@media screen and (min-width:1200px) {
    .card-columns {
        column-count: 3;
    }
}
@media screen and (max-width:1200px) {
    .card-columns {
        column-count: 2;
    }
}