.body{
    background-color: white;
    padding: 2%;
}

.igrid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6px;
}
textarea{
    color: #414C59;
    outline: none;
    width: 100%;
    padding: 5px 6px 6px 6px;
}