.body{
    background-color: white;
    padding: 2%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 6px;
}

.grid-table {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 6px;
}

.active{
    color: green;
}

.text-center{
    text-align: center;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    td,th{
        border: solid 2px #f1f1f1;
        padding: 8px;
    }
    th{
        background-color: #b9b7b7;
        color: white;
        font-size: 16px;
    }
}

.bg-white{
    background-color: white;
    color:#6b6a6a;
}

.bg-defult{
    background-color: #bebebe;
    color: white;
}