<p>
    user-search works!
  </p>
<div class="body">
  <div style="margin: 6px 24px">
      <div style="margin-bottom: 6px;">
        <div class="grid" [formGroup]="ctrlMgr.form">
          <ctm-textbox subject="UserName" 
            formControlName="UserName"></ctm-textbox>
          <ctm-autocomplete subject="Group" class="group" 
            formControlName="GroupID"
            key="GROUP"></ctm-autocomplete>
          <ctm-autocomplete subject="Status" class="status" 
            formControlName="FlagActive"
            key="ACTIVE_STATUS"></ctm-autocomplete>
          <ctm-textbox subject="Page" 
            formControlName="page"></ctm-textbox>
          <ctm-textbox subject="Paging" 
            formControlName="paging"></ctm-textbox>
        </div>
      </div>
      <div style="margin-bottom: 6px;">
          <div class="grid">
            <button class="btn btn-information" (click)="onSearch()">Search</button>
            <button class="btn btn-warning" (click)="onClear()">Clear</button>
          </div>
        </div>
  </div>
  
  <div class="grid-table">
    <table border="0">
      <thead>
        <tr>
          <th>No</th>
          <th>Group Name</th>
          <th>Name</th>
          <th>Nick Name</th>
          <th>Last Login Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of list;let i = index" [ngClass]="{'bg-white' : row.FlagActive === true,'bg-defult' : row.FlagActive === false}">
          <td class="text-center">{{i+1}}</td>
          <td>{{row.GroupNameEN}}</td>
          <td>{{row.Name}}</td>
          <td>{{row.NickName}}</td>
          <!-- <td class="text-center">{{ dateText(row.LastLoginDate) }}</td> -->
          <td class="text-center">{{ row.LastLoginDate | date: "DD/MM/YYYY":"th" }}</td>
          <td class="text-center">
            <span *ngIf="row.FlagActive == true">
              <i class="fas fa-check active"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>